# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cleaver Repository
Cleaver2
examples/.ipynb_checkpoints/
examples/triangle_mesh.vtk

wasi-build
pnpm-lock.yaml
node_modules/
emscripten-build/
